In [5]:
import numpy as np
import pandas as pd

In [6]:
labels = ['a','b','c']

In [7]:
mylist = [10,20,30]

In [8]:
arr = np.array(mylist)

In [9]:
arr

array([10, 20, 30])

In [10]:
d={'a':10, 'b':20, 'c':30}

In [11]:
pd.Series(data=None,index=None,dtype=None,name=None,copy=False,fastpath=False)

pandas.core.series.Series

리스트를 인덱스화

In [12]:
pd.Series(data=mylist)

0    10
1    20
2    30
dtype: int64

In [13]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [15]:
pd.Series(data=arr,index=labels) # 시리즈를 결합하여 데이터프레임으로 구축할때 특히 유용하다

a    10
b    20
c    30
dtype: int64

In [17]:
pd.Series(data=[10,'a',4.4]) # 문자열이더라도 상관없다.

0     10
1      a
2    4.4
dtype: object

In [18]:
pd.Series(data=['d','a','e'])

0    d
1    a
2    e
dtype: object

In [19]:
ser1=pd.Series([1,2,3,4],index=['USA','Germany','USSR','Japan'])

In [20]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [21]:
ser1['USA']

1

In [22]:
ser2=pd.Series([1,4,5,6],index=['USA','Germany','Italy','Japan'])

In [23]:
ser2

USA        1
Germany    4
Italy      5
Japan      6
dtype: int64

In [25]:
ser1+ser2 # 두정수의 계산을 pandas나 numpy로 할때 뒤에 부동소수점으로 반환될 가능성이 있다.

Germany     6.0
Italy       NaN
Japan      10.0
USA         2.0
USSR        NaN
dtype: float64