In [1]:
import pandas as pd
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [2]:
df = pd.DataFrame(data)

In [3]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [5]:
df.groupby('Company') # 메모리 내의 어느 객체에 저장되어있다.

In [14]:
df.groupby('Company').mean()

TypeError: agg function failed [how->mean,dtype->object]

In [9]:
df.groupby('Company')['Sales'].mean()

Company
FB      296.5
GOOG    160.0
MSFT    232.0
Name: Sales, dtype: float64

In [13]:
df.groupby('Company').std()

ValueError: could not convert string to float: 'Sam'

In [10]:
df.groupby('Company')['Sales'].std()
# Company 그룹에서 Sales 열의 표준 편차를 계산
# 표준 편차는 데이터의 분산 정도를 나타내며 데이터가 얼마나 변동성이 있는지를 측정하는 데 사용

Company
FB       75.660426
GOOG     56.568542
MSFT    152.735065
Name: Sales, dtype: float64

In [11]:
df.groupby('Company')['Sales'].describe()

         count   mean         std    min     25%    50%     75%    max
Company
FB         2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG       2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT       2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [12]:
df.groupby('Company').describe()
#Company 그룹에서 Sales 열의 다양한 통계 정보를 계산
#평균, 표준편차, 최솟값, 25%, 50% (중앙값), 75% 백분위 수 및 최댓값이 포함

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [15]:
df.groupby('Company').describe().transpose() #열을 그룹화 한 다음 원하는 집계함수를 호출하면 함수 리스트를 확인 할 수 있다.

Company              FB        GOOG        MSFT
Sales count    2.000000    2.000000    2.000000
      mean   296.500000  160.000000  232.000000
      std     75.660426   56.568542  152.735065
      min    243.000000  120.000000  124.000000
      25%    269.750000  140.000000  178.000000
      50%    296.500000  160.000000  232.000000
      75%    323.250000  180.000000  286.000000
      max    350.000000  200.000000  340.000000